<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">

    <title>Write Open</title>

    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">
   
    <link href="justified-nav.css" rel="stylesheet">
     <script type="text/javascript" src="spin.min.js"></script>
		 <script type="text/javascript" src="ladda.min.js"></script>
		 <link rel="stylesheet" type="text/css" href="ladda-themeless.min.css">
    
  </head>

  <style>

    body{
      padding: 0;
    }

    .glyphicon{
      font-size: 300%;
      margin-top: 10%;
    }

    .jumbotron{
      background-color: white; 
      color: #36454F;
      margin-bottom: 0 !important;
      height: ;

    }

    #features, #overview{
      text-align: center;
    }


  #features .col-md-3 {
    border: 1px solid #808080;
    height: 300px;
    background-color: #36454F;
    display: none;
    margin: 2%;
    color: white;
  }

  section#rules {
    background-color: #36454F;
    color: white;
  }

  #rules h3{
    margin-left: 4%; 
    color: aqua;
    font-size: 4.5em;"
  }

  #rules li{
    margin-bottom: 2%;
    font-size: 1.5em;
  }

  </style>


   

   <header>
     <div class="jumbotron">
       <h1 style="display: none">writeOpen</h1>
     </div>
   </header>
   <body ng-controller="HomeCtrl">
   <!-- Background pic -->
   <div style="background-image: url('home/books.jpg');
height: 400px; background-size: contain;" class="container-fluid main-pic">
    <div style="text-align: center; margin-top: 25%;">
       <button type="button" class="btn btn-info btn-lg" data-toggle="modal" style="font-size: 35px; background-color: black!important; border: 1px solid aqua;" data-target="#myModal">Start Writing!</button>
    </div>
   </div>
  <!--  -->

  <section id="features">
    <div class="row">
    <h2>A place for you to write...</h2>
    <div class="col-md-1"></div>
      <div class="col-md-3">
        <h3><b>1. Sign Up</b></h3>
        <p>Create an account, login and start writing. It's that simple.</p>
        <span style="color:white" class="glyphicon glyphicon-user"></span>
        
      </div>
      <div class="col-md-3">
        <h3><b>2. Write!</b></h3>
        <p>This is the place to get your name out. Write a short story and publish it for the world to see.</p>
        <span style="color:white"class="glyphicon glyphicon-pencil"></span>
      </div>
      <div class="col-md-3">
        <h3><b>3. Read and Vote!</b></h3>
        <p>Read others' short stories, and upvote the ones you like. The top 5 from each month will be published as an ebook.</p>
        <span style="color:white" class="glyphicon glyphicon-book"></span>
        
      </div>
      
    </div>
  </section>

  <!-- <section id="rules">
    <h3>FYI.</h3>
    <div class="row">
      <div class="col-md-6 left">
        <ul>
        <li>While there's no max character limit on stories, this service is intended for short stories, so keep it around 10,000.</li>
        <li>Don't want to publish your story for all to see just yet? No prob! Just save for editing and you can publish later!</li>
        <li>Keep your comments positive! Any negative comments or things that aren't helpful will be deleted and could get you kicked outta here!</li>
      </ul>
      </div>
      <div class="col-md-6 right">
        <ul>
          <li>Like other people's stuff. If you really like someone's work you can give them up to <b>two likes</b>! We tally up the likes to decide who will be published each month!</li>
          <li>See a bug? Don't see something you'd like to see? Just want to say something? Give me a holler at brianjenney83@gmail.com</li>
          <li>Have Fun!</li>
        </ul>        
      </div>
    </div>
    
  </section> -->

  
 

  <!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div id="myModal" class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Join Write Open</h4>
      </div>
      <div class="modal-body">
        <form class="form-signin" name="signinForm" role="form">
        <div class="form-group" ng-class="{ 'has-error' : signinForm.email.$invalid }">
        <label>Email</label>
        <input type="email" name="email" class="form-control" ng-model="user.email">
        <p class="help-block" ng-show="signinForm.email.$invalid">Enter a valid email.</p>
    </div>
    <div class="form-group" ng-class="{ 'has-error' : signinForm.password.$invalid }">
        <label>Password</label>
        <input type="password" name="password" class="form-control" ng-model="user.password" ng-minlength="3">
        <p class="help-block" ng-show="signinForm.password.$error.minlength">Min password length is 8 characters.</p>
    </div>  
        <label class="checkbox">
          <a id="signUp" href="#/register"> Sign Up</a>
        </label>
        <button ladda-loading="login.loading" data-style="expand-right" ng-disabled="!user.email || !user.password" type="button" ng-click="SignIn($event)" class="btn btn-lg segoe-ui-light ladda-button btn-primary btn-block"><span class="ladda-label" data-dismiss="modal">Sign In</span></button>

      </form>

      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

    <script type="text/javascript">
  $("#signUp").click(function(){
    $('#myModal').modal('hide');
  })

  $(".jumbotron h1").fadeIn(5000);

  $("#features .col-md-3").fadeIn(5000);
  </script>
 

</body></html>
