<!DOCTYPE html>
<html lang="en">
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">

    <title>writeOpen</title>

    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="blog.css" rel="stylesheet">

    <style>

      .likes {
      border-radius: 0%;
      background-color: royalblue;
      color: white;
      border: 1px solid transparent;
      width: 25%;
      }

      .container.readPost {
      position: fixed;
      margin-top: -45%;
      border-radius: 2%;
      z-index: -9999;
      }

    </style>
    
  </head>

  <body ng-controller="FeedCtrl">

   <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item" href="#/welcome">Home</a>
          <a class="blog-nav-item " href="#/addPost">Write</a>
          <a class="blog-nav-item active" href="#/feed">Read</a>
          <a class="blog-nav-item " style="cursor:pointer;" ng-click="logout();">Logout</a>
        </nav>
      </div>
    </div>
   <div class="container">
      <div class="page-header">
        <h1 style="text-align: center; font-family: monospace;">writeOpen</h1>
      </div>

  <div class="posts" ng-repeat="article in articles | filter : {saved: 'false'} : true ">            
      
      
      <div class="row" style="text-align: center">
        <div class="col-md-6">
        <h2><a href="" ng-click="read(article.$id)">{{article.title}}</a></h2>
      <p>{{article.summary}}</p>
          
        </div>
        <div class="col-md-6">
          <button class="likeButton" ng-disabled="isDisabled[key]" class="likes" ng-click="plusOne(article.$id)">+</button>
          <!-- Leave comment function -->
          <button id="commentButton" ng-click="openComment(article.$id)">Leave a Comment</button>

          <!-- Read Comments function -->
          <button ng-click="readComment(article.$id)">Comments</button>
          <br></br>
          <h3>Likes: {{ article.likes }}</h3>
        </div>
        
      </div>

      
      <hr>
               
  </div>

  <!-- Modal for stories -->
  <div style="height: auto; opacity: 0;" class="container readPost">
    <button ng-click="closeMe()" class="close" style="color: blue; font-family: sans-serif">x</button>
    <textarea style="height: 500px; width: 100%; ">
      {{post.post}}
    </textarea>
  </div>

  <!-- Modal for writing comments -->
  <div style="height: auto; opacity: 0; position: fixed; z-index: -1; margin-top: -40%; border: 1px solid lightgray; background-color: whitesmoke; padding: 15px" class="container writeComment">
    <button ng-click="closeWriteComment()" class="close" style="color: blue; font-family: sans-serif">x</button>
    <input  style="margin-bottom: 1%; border: 1px solid gray;"placeholder="Your Name"ng-model="postToComment.commenter" />
    <textarea ng-model="postToComment.comment"style="height: 100px; width: 100%; ">
    </textarea>
    <button style="background-color: ghostwhite;
    border: 1px solid gray;margin-top: 1%;"ng-disabled="!postToComment.comment|| !postToComment.commenter" ng-click="writeComment()">Comment</button>
  </div>

  <!--Modal for reading comments  -->
  <div style="height: auto; opacity: 0;  position: fixed; z-index: -1; margin-top: -40%; background-color: white; border: 1px solid lightgray; padding: 15px" class="container readComment">
  
    <button ng-click="closeReadComment()" class="close" style="color: blue; font-family: sans-serif; margin-right: 2%;">x</button>
    <div style="width: 100%; border: 1px solid lightgray ">
      <div ng-repeat="comment in comments">
        <li style="list-style: none"> - {{comment.commenter}}</li>
        <li style="list-style: none" >{{comment.comment}}</li>
        <hr> 
      </div>
      

    </div>
  </div>

     

    <footer class="footer">
      <div class="container">
        <p class="text-muted"></p>
      </div>
    </footer>


</body></html>
