<html lang="en">
  <head>
   
    <title>openWrite</title>

    <!-- Bootstrap core CSS -->
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="blog.css" rel="stylesheet">

    <script type="text/javascript" src="spin.min.js"></script>
		 <script type="text/javascript" src="ladda.min.js"></script>
		 <link rel="stylesheet" type="text/css" href="ladda-themeless.min.css">
     <link href="kindeditor/themes/default/default.css" rel="stylesheet" />
    
  </head>

  <style>
    #txtPost {
    height: 450px !important;
  }
  </style>

  <body ng-controller="AddPostCtrl">

    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item" href="#/welcome">Home</a>
          <a class="blog-nav-item active" href="#/addPost">Write</a>
          <a class="blog-nav-item" href="#/feed">Read</a>
          <a class="blog-nav-item " style="cursor:pointer;" ng-click="logout();">Logout</a>
        </nav>
      </div>
    </div>

    <div class="container" style="text-align: center">

<form class="form-horizontal" ng-submit="AddPost()">
<fieldset>


<!-- Text input-->
<div style="margin-top: 5%;" class="form-group">
  <label class="col-md-1 control-label" for="txtTitle">Title</label>  
  <div class="col-md-8">
  <input id="txtTitle" name="txtTitle" ng-model="article.title" type="text" class="form-control input-md" style="width: 100%;">
  </div>

  <div style="margin-top: 5%;" class="form-group">
  <label class="col-md-1 control-label" for="txtTitle">Summary</label> 

  <div class="col-md-8">
  <input id="txtTitle" name="txtTitle" ng-model="article.summary" type="text" placeholder="Write a brief (50 words) summary of your writing!" class="form-control input-md" style="width: 100%;">
  </div>
</div>


<!-- Textarea -->
<div class="form-group">
  <div class="col-md-10">                     
    <textarea style="text-align: left" class="form-control" id="txtPost" ng-model="article.post" name="txtPost" ></textarea>
  </div>
</div>


<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="singlebutton"></label>
  <div class="col-md-4">
   


<button style="width: 60%" ladda-loading="login.loading" data-style="expand-right" ng-disabled="!article.title || !article.post || article.summary.length > 50" name="singlebutton" class="btn btn-primary segoe-ui-light ladda-button" type="submit"><span class="ladda-label">Publish</span></button>
<p style="color: gray">(Everyone Will Be Able to See!)</p>

  </div>
</div>

</fieldset>
</form>

<button style="width: 20%" ladda-loading="login.loading" data-style="expand-right" ng-disabled="!article.title || !article.post || article.summary.length > 50" name="singlebutton" class="btn btn-primary segoe-ui-light ladda-button" ng-click="Save()"><span class="ladda-label">Save</span></button>
<p style="color: gray">(Save for Later, Only You Can See!)</p>


</html>

